<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <style>
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

  </style>
</head>

<body>
  <div>
    <p>File successfully uploaded. {{ .FileName}} for the problem {{ .ProblemName}}</p>
    {{if eq .Verdict "Passed"}}
    <p>All tests passed successfully</p>
    {{else if eq .Verdict "Failed Test"}}
    <p>Wrong answer on test {{ .FailedTest}}</p>
    {{else if eq .Verdict "Compilation Error"}}
    <p>Compilation error</p>
    {{else}}
    <p>Unknown error</p>
    {{end}}
  </div>
</body>

</html>